<p>Showing <strong><%= @status || 'active' %></strong> announcements. Show <%= @status == "lapsed" ? link_to('active',psas_path) : link_to('lapsed', lapsed_psas_path) %> announcements.</p>

<%= link_to "New", new_psa_path %>

<table id="psas">
	<thead>
		<tr>
			<th></th>
			<th>Message</th>
			<th>Max Views</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Route</th>
			<th>User Agent</th>
		</tr>
	</thead>
	<tbody>
		<% @psas.each do |psa| %>
		<tr class="<%= cycle('odd','even') %>">
			<td><%= link_to "Delete", psa, :method => :delete %> | <%= link_to "Edit", edit_psa_path(psa) %></td>
			<td><%= psa.message %></td>
			<td><%= psa.max_views %></td>
			<td><%= psa.start_date %></td>
			<td><%= psa.end_date %></td>
			<td><%= psa.route %></td>
			<td><%= psa.user_agent %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "New", new_psa_path %>